<ion-view class="conformOrder">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear" ng-click="go(-1);"></a>
    <h4 id="header-title">确认订单</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header gray-bg" id="scrollBar" ng-click="cancel()">
    <div class="list white-bg end-line">
      <div class="row">
        <div class="col paddingb0">
          <div class="row">
              <div class=" col-33">
                <img class="wh100" src="img/demo.png">
              </div>
              <div class=" col-67 col-center">
                <div class="row">
                  <div class="col desc font-16">面部肌肤美白和护理（10次）</div>
                </div>
                <div class="row">
                  <div class="col ellipsis gray-font">对肌肤水光性美白，抗皱型处理，深层洁面呵护护理</div>
                </div>
                <div class="row">
                  <!--<div class="col">
                    <span class="pric">￥200</span>
                  </div>-->
                  <div class="col text-right gray-font">
                    <!-- <span><img style="width: 10px;height: 14px;vertical-align: middle;margin-right: -6px;" src="img/cha.png">-->
                      <span class="num font-16">￥123.00</span>
                  </span>
                  </div>
                </div>
              </div>
          </div>
         <!-- <div class="row">
            <div class="col paddingb0 col-center font-18">
              购买数量
            </div>
            <div class="col text-right paddingb0">
              <div class="col goodsNum text-center">
                <input type="button" class="button-clear" ng-click="subBtn(shop)"  value="-">
                <input type="number"  class="num" ng-model="shop.hasNum" >
                <input type="button"  class="button-clear" ng-click="addBtn(shop)"  value="+">
              </div>
            </div>
          </div>-->
        </div>
      </div>
     <!-- <div class="row paddingtb10">
        <div class="col text-right paddingb0"><span class="font-16">共2件商品&nbsp;&nbsp;合计：</span><span class="pric">￥200</span></div>
      </div>-->
    </div>

    <div class="list white-bg end-line">
      <div class="row">
        <div class="col paddingb0">
          <div class="row">
            <div class=" col-33">
              <img class="wh100" src="img/demo.png">
            </div>
            <div class=" col-67 col-center">
              <div class="row">
                <div class="col desc font-16">面部肌肤美白和护理（10次）</div>
              </div>
              <div class="row">
                <div class="col ellipsis gray-font">对肌肤水光性美白，抗皱型处理，深层洁面呵护护理</div>
              </div>
              <div class="row">
                <!--<div class="col">
                  <span class="pric">￥200</span>
                </div>-->
                <div class="col text-right gray-font">
                  <!-- <span><img style="width: 10px;height: 14px;vertical-align: middle;margin-right: -6px;" src="img/cha.png">-->
                  <span class="num font-16">￥123.00</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
             <div class="col paddingb0 col-center font-18">
               购买数量
             </div>
             <div class="col text-right paddingb0">
               <div class="col goodsNum text-center">
                 <input type="button" class="button-clear" ng-click="subBtn(shop)"  value="-">
                 <input type="number"  class="num" ng-model="shop.hasNum" >
                 <input type="button"  class="button-clear" ng-click="addBtn(shop)"  value="+">
               </div>
             </div>
           </div>-->
        </div>
      </div>
    <!--  <div class="end-line"></div>-->
      <!-- <div class="row paddingtb10">
         <div class="col text-right paddingb0"><span class="font-16">共2件商品&nbsp;&nbsp;合计：</span><span class="pric">￥200</span></div>
       </div>-->
    </div>


    <!--配送方式-->
    <div class="list white-bg end-line">
      <div class="row" ng-click="toggleEms();">
        <div class="col">配送方式&nbsp;&nbsp;快递</div>
        <div class="col text-right"><i class="font-20 gray-font" ng-class="{'ion-ios-arrow-down':toggle,'ion-ios-arrow-up':!toggle}"></i></div>
      </div>
    </div>
    <div class="list gray-font" ng-show="toggle">
      <div class="row paddingb10">
        <div class="col-25">快递</div>
        <div class="col-50 font-16">18:00</div>
        <div class="col-25 text-right">
          <div class="in-block" ng-click="toggleItem()" ng-class="{'choosed': choose, 'unChoose': !choose}"></div>
        </div>
      </div>
      <div class="row paddingb10">
        <div class="col-25">EMS</div>
        <div class="col-50 font-16">27:00</div>
        <div class="col-25 text-right">
          <div class="in-block" ng-click="toggleItem()" ng-class="{'choosed': choose, 'unChoose': !choose}"></div>
        </div>
      </div>
    </div>

    <div class="list white-bg" style="border-bottom: 2px dashed red;">
      <div class="row paddingb10">
        <div class="col-25">收货人：</div>
        <div class="col paddingb0">刘女士</div>
        <div class="col-33 text-right">
          <div>134556666666</div>
        </div>
      </div>
      <div class="row paddingb10" ui-sref="reciveAddr">
        <div class="col-25">收货地址：</div>
        <div class="col paddingb0">北京市朝阳区国民路1223号</div>
        <div class="col-10 text-right">
          <i class="font-20 gray-font ion-ios-arrow-right"></i>
        </div>
      </div>
    </div>

    <!--<div class="padding">
      <a class="button button-block cyan-btn font-18" ui-sref="order({product:null})">立即购买</a>
    </div>-->
  </ion-content>
  <div class="bar bar-footer padding-lr0">
    <div class="row text-center col-center">
      <div class="col text-left col-center paddingl10">
        <span class="font-16">合计：</span><span class="font-18 red-font">￥566.00</span>
      </div>
      <div class="col-33 red-bg white-font font-18" style="line-height: 44px;" ui-sref="payOrder({payOrderRouter: 1})">
        提交订单
      </div>
    </div>
  </div>
</ion-view>
