<ion-view class="finishPay evaluation productDetail">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear" ng-click="go(-1);"></a>
    <h4 id="header-title">评论</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header" id="scrollBar" >
    <div class="list card first none-border">
      <div class="item item-body">
        <div class="row">
          <div class="col-33 text-center">
            <img class="wh100" src="img/demo.png" style="border-radius: 4px;">
          </div>
          <div class="col col-center text-center">
            <div class="row">美容可大可美容可大可会所</div>
            <div class="row gray-font font-14">海淀区苏柠街12220号</div>
          </div>
        </div>
      </div>
    </div>
    <div class="list card second">
      <div class="item item-divider item-stable font-14">
        <div class="row">
          <div class="col-20 text-center">
            美容师
          </div>
          <div class="col">
            <ul>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
            </ul>
          </div>
          <div class="col text-center padding-r10">
            非常满意
          </div>
        </div>
        <div class="row">
          <div class="col-20 text-center">
            店面
          </div>
          <div class="col">
            <ul>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
              <li><img class="star" src="img/coffeeStar.png"></li>
            </ul>
          </div>
          <div class="col text-center padding-r10">
            非常满意
          </div>
        </div>
       <!-- <div class="row">
          <div class="col-25">
            感受
          </div>
          <div class="col">
           <textarea cols="5" rows="8" placeholder="商品满意吗？来分享您的使用感受吧~">
           </textarea>
          </div>
        </div>-->
      </div>
     </div>
    <div class="list intro evaluation">
      <div class="row">
        <div class="col col-center">评价</div>
        <div class="col-67"><input type="text"></div>
        <div class="col text-center col-center">发送</div>
      </div>
      <div class="row">
        <div class="col">
          <a class="button font-14" >全部</a>
          <a class="button font-14" >好评2304</a>
          <a class="button font-14">差评12</a>
        </div>
      </div>
    </div>

    <div class="list intro end-line paddingb0">
      <div class="row padding-t0 paddingb0">
        <div class="col">
          <div class="row">
            轻***7
          </div>
          <div class="row">
            货物已经收到，还不错的样子。 货物已经收到，还不错的样子 货物已经收到，还不错的样子
          </div>
          <div class="row">
            <span class="gray-font">09-30</span>
          </div>
        </div>
      </div>
    </div>

    <div class="list intro end-line paddingb0">
      <div class="row padding-t0 paddingb0">
        <div class="col">
          <div class="row">
            轻***7
          </div>
          <div class="row">
            货物已经收到，还不错的样子。 货物已经收到，还不错的样子 货物已经收到，还不错的样子
          </div>
          <div class="row">
            <span class="gray-font">09-30</span>
          </div>
        </div>
      </div>
    </div>

    <div class="list intro end-line paddingb0">
      <div class="row padding-t0 paddingb0">
        <div class="col">
          <div class="row">
            轻***7
          </div>
          <div class="row">
            货物已经收到，还不错的样子。 货物已经收到，还不错的样子 货物已经收到，还不错的样子
          </div>
          <div class="row">
            <span class="gray-font">09-30</span>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
