<ion-view id="login">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left button-clear button-dark" ng-click="go(-1);"></a>
    <h4 id="header-title">登录</h4>
  </div>
  <ion-content overflow-scroll="true" id="scrollBar" class="has-header">
    <form novalidate name="loginForm" ng-submit="login()">
      <div class="content">
        <div class="padding paddingtb28">
          账号登录
        </div>
        <div class="list">
          <label class="item item-input">
            <span class="input-label"><i class="icon ion-android-contact placeholder-icon"></i></span>
            <input type="text" ng-model="loginUser.phoneNumber" placeholder="手机号" required>
          </label>
          <label class="item item-input">
            <span class="input-label"> <i class="icon ion-ios-locked-outline placeholder-icon"></i></span>
            <input type="password" ng-model="loginUser.passWord"  placeholder="密码" required>
          </label>
        </div>
        <div class="padding">
          <button ng-click="confirmLogin();" class="button button-block cyan-btn font-18" ng-disabled="loginForm.$invalid">确认登录</button>
        </div>
        <div class="list paddinglr30">
          <div class="row">
            <div class="col text-left">
              <span ui-sref="register" class="gray-font">注册账号</span>
            </div>
            <div class="col text-right">
              <p class="gray-font" ui-sref="forgetPwd">忘记密码？</p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
