<ion-view class="finishPay">
  <div class="bar bar-header padding-lr0">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear"  ng-click="go(-1);"></a>
    <h4 id="header-title">预约完成</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header" id="scrollBar" >
    <div class="list card first">
      <div class="item item-body">
        <div class="row">
          <div class="col text-center">
            <img style="width: 24px;height: 24px;vertical-align: middle;" src="img/green.png">
            <span style="vertical-align: middle" class="font-18">预约成功！</span>
          </div>
        </div>
      </div>
    </div>
    <div class="list card second">
      <div class="item item-divider item-stable gray-font"><img style="vertical-align: middle;max-width: 24px;" src="img/tip.png">&nbsp;预约信息</div>
      <div class="item item-body black-font">
        <div class="row contentInfo">
          <span class="gray-font">商品名称：</span><span>刘某某专属茶品</span>
        </div>
        <div class="row contentInfo">
          <span class="gray-font">预约店家：</span><span>美容可大可会所</span>
        </div>
        <div class="row contentInfo">
          <span class="gray-font">美容师：</span><span>贝贝</span>
        </div>
        <div class="row contentInfo">
          <span class="gray-font">预约时间：</span><span>2016-08-20 19:20</span>
        </div>
        <div class="row contentInfo">
          <span class="gray-font">订单号：</span><span>1223333333454</span>
        </div>
      </div>
    </div>
    <div class="padding padding10" style="background: #f3f3f3;padding-top: 30px;">
      <a class="button button-block cyan-btn font-18" ui-sref="shops">确定</a>
    </div>
  </ion-content>
</ion-view>
