<ion-view class="finishPay finishRegift">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear"  ng-click="go(-1);"></a>
    <h4 id="header-title">转赠成功</h4>
  </div>
  <ion-content class="has-header" id="scrollBar" >
    <div class="list">
      <div class="item item-body">
        <div class="row">
          <div class="col text-center">
            <img style="width: 24px;height: 24px;vertical-align: middle;" src="img/green.png">
            <span style="vertical-align: middle" class="font-20">转赠成功！</span>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <img style="width: 54px;height: 60px;vertical-align: middle;" src="img/sendSucc.png">
            <span style="vertical-align: middle" class="font-16">快去通知您的好友吧！</span>
          </div>
        </div>
      </div>
    </div>
    <div class="padding padding10" style="background: #f3f3f3;padding-top: 30px;">
      <a class="button button-block black-btn font-18" ui-sref="tab.subscribe">确定</a>
    </div>
  </ion-content>
</ion-view>
