<ion-view class="header-input professer modal">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left button-clear" ng-click="close()"></a>
    <h4 id="header-title">美容师</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header" id="scrollBar">
      <ion-list>
          <ion-item  item="item">
            <div class="row">
              <div class="">
                <img style="border-radius: 50%;width: 84%;height: 100%;" src="img/demo.png">
              </div>
              <div class="col-60 col-center">
                  <div class="row">
                    <span class="">贝贝</span>&nbsp;
                    <span class="gray-font font-12">美容师</span>&nbsp;
                    <ul>
                      <li><img class="star" src="img/coffeeStar.png"></li>
                      <li><img class="star" src="img/coffeeStar.png"></li>
                      <li><img class="star" src="img/coffeeStar.png"></li>
                      <li><img class="star" src="img/coffeeStar.png"></li>
                      <li><img class="star" src="img/coffeeStar.png"></li>
                    </ul>&nbsp;
                    <span class="coffee-font font-14">3.5分</span>
                  </div>
                <div class="row">
                  <span class="font-12 paddingl10 padding-r10" style="background: #f3f3f3">您的专属美容师</span>
                </div>
              </div>
              <div class="col-20 text-right col-center">
                 <div class="in-block" ng-click="toggleItem()" ng-class="{'choosed': choose, 'unChoose': !choose}"></div>
              </div>
            </div>
          </ion-item>

        <ion-item  item="item">
          <div class="row">
            <div class="">
              <img style="border-radius: 50%;width: 84%;height: 100%;" src="img/demo.png">
            </div>
            <div class="col-60 col-center">
              <div class="row">
                <span class="">贝贝</span>&nbsp;
                <span class="gray-font font-12">美容师</span>&nbsp;
                <ul>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                </ul>&nbsp;
                <span class="coffee-font font-14">3.5分</span>
              </div>
              <div class="row">
                <span class="font-12 paddingl10 padding-r10" style="background: #f3f3f3">您的专属美容师</span>
              </div>
            </div>
            <div class="col-20 text-right col-center">
              <div class="in-block" ng-click="toggleItem()" ng-class="{'choosed': choose, 'unChoose': !choose}"></div>
            </div>
          </div>
        </ion-item>

        <ion-item  item="item">
          <div class="row">
            <div class="">
              <img style="border-radius: 50%;width: 84%;height: 100%;" src="img/demo.png">
            </div>
            <div class="col-60 col-center">
              <div class="row">
                <span class="">贝贝</span>&nbsp;
                <span class="gray-font font-12">美容师</span>&nbsp;
                <ul>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                  <li><img class="star" src="img/coffeeStar.png"></li>
                </ul>&nbsp;
                <span class="coffee-font font-14">3.5分</span>
              </div>
              <div class="row">
                <span class="font-12 paddingl10 padding-r10" style="background: #f3f3f3">您的专属美容师</span>
              </div>
            </div>
            <div class="col-20 text-right col-center">
              <div class="in-block" ng-click="toggleItem()" ng-class="{'choosed': choose, 'unChoose': !choose}"></div>
            </div>
          </div>
        </ion-item>
      </ion-list>
  </ion-content>
</ion-view>
