<ion-view class="serviceProduct activity">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear" ng-click="go(-1);"></a>
    <h4 id="header-title">活动</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header gray-bg" id="scrollBar" ng-click="cancel()">
    <div class="list result">
      <div class="row">
        <div class="col">
          <img style="max-height:150px;width:100%;" src="img/banner.png">
        </div>
      </div>
      <div class="row white-bg paddingtb5">
        <div class="col-20 paddingl10">
          <span class="red-font font-16">￥266</span>
        </div>
        <div class="col">
          水氧注氧护理理疗
        </div>
        <div class="col text-right padding-r10">
          00:12:00:00
        </div>
      </div>
    </div>


    <div class="list result">
      <div class="row">
        <div class="col">
          <img style="max-height:150px;width:100%;" src="img/banner.png">
        </div>
      </div>
      <div class="row white-bg paddingtb5">
        <div class="col-20 paddingl10">
          <span class="red-font font-16">￥266</span>
        </div>
        <div class="col">
          水氧注氧护理理疗
        </div>
        <div class="col text-right padding-r10">
          00:12:00:00
        </div>
      </div>
    </div>

    <div class="list result">
      <div class="row">
        <div class="col">
          <img style="max-height:150px;width:100%;" src="img/banner.png">
        </div>
      </div>
      <div class="row white-bg paddingtb5">
        <div class="col-20 paddingl10">
          <span class="red-font font-16">￥266</span>
        </div>
        <div class="col">
          水氧注氧护理理疗
        </div>
        <div class="col text-right padding-r10">
          00:12:00:00
        </div>
      </div>
    </div>

    <div class="list result">
      <div class="row">
        <div class="col">
          <img style="max-height:150px;width:100%;" src="img/banner.png">
        </div>
      </div>
      <div class="row white-bg paddingtb5">
        <div class="col-20 paddingl10">
          <span class="red-font font-16">￥266</span>
        </div>
        <div class="col">
          水氧注氧护理理疗
        </div>
        <div class="col text-right padding-r10">
          00:12:00:00
        </div>
      </div>
    </div>

    <div class="list result">
      <div class="row">
        <div class="col">
          <img style="max-height:150px;width:100%;" src="img/banner.png">
        </div>
      </div>
      <div class="row white-bg paddingtb5">
        <div class="col-20 paddingl10">
          <span class="red-font font-16">￥266</span>
        </div>
        <div class="col">
          水氧注氧护理理疗
        </div>
        <div class="col text-right padding-r10">
          00:12:00:00
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
