<ion-view class="serviceProduct">
  <div class="bar bar-header">
    <a id="left-icon" class="button icon ion-ios-arrow-left  button-clear" ng-click="go(-1);"></a>
    <h4 id="header-title">面部精华</h4>
  </div>
  <ion-content overflow-scroll="true" class="has-header" style="background: #f3f3f3;" id="scrollBar" ng-click="cancel()">
    <div class="list white-bg">
      <div class="condition row text-center paddingl10 padding-r10" style="height: 40px;line-height: 40px;">
        <div class="col activeStatus" >
          综合
        </div>
        <div class="col" >
          销量
        </div>
        <div class="col" >
          价格
        </div>
      </div>
    </div>
    <div class="list padding-t0 paddingb0 paddingl10 padding-r10">
        <div class="row row-wrap">
            <div class="ditem white-bg" ui-sref="productDetail">
              <div class="row">
                <div class="col">
                  <img class="wh100per" src="img/demo.png">
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <i class="gray-font font-14">￥</i>
                  <span class="shallow-black-font font-20">200</span>
                  <span class="del-line gray-font">￥345</span>
                </div>
               <!-- <div class="col text-right gray-font">
                  已售35200
                </div>-->
              </div>
              <div class="row">
                <div class="col ellipsis gray-font">赫拉气垫BB霜 SPF50</div>
              </div>
            </div>

          <div class="ditem white-bg" ui-sref="productDetail">
            <div class="row">
              <div class="col">
                <img class="wh100per" src="img/demo.png">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="gray-font font-14">￥</i>
                <span class="shallow-black-font font-20">200</span>
                <span class="del-line gray-font">￥345</span>
              </div>
              <!-- <div class="col text-right gray-font">
                 已售35200
               </div>-->
            </div>
            <div class="row">
              <div class="col ellipsis gray-font">赫拉气垫BB霜 SPF50</div>
            </div>
          </div>

          <div class="ditem white-bg" ui-sref="productDetail">
            <div class="row">
              <div class="col">
                <img class="wh100per" src="img/demo.png">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="gray-font font-14">￥</i>
                <span class="shallow-black-font font-20">200</span>
                <span class="del-line gray-font">￥345</span>
              </div>
              <!-- <div class="col text-right gray-font">
                 已售35200
               </div>-->
            </div>
            <div class="row">
              <div class="col ellipsis gray-font">赫拉气垫BB霜 SPF50</div>
            </div>
          </div>

          <div class="ditem white-bg" ui-sref="productDetail">
            <div class="row">
              <div class="col">
                <img class="wh100per" src="img/demo.png">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="gray-font font-14">￥</i>
                <span class="shallow-black-font font-20">200</span>
                <span class="del-line gray-font">￥345</span>
              </div>
              <!-- <div class="col text-right gray-font">
                 已售35200
               </div>-->
            </div>
            <div class="row">
              <div class="col ellipsis gray-font">赫拉气垫BB霜 SPF50</div>
            </div>
          </div>

          <div class="ditem white-bg" ui-sref="productDetail">
            <div class="row">
              <div class="col">
                <img class="wh100per" src="img/demo.png">
              </div>
            </div>
            <div class="row">
              <div class="col">
                <i class="gray-font font-14">￥</i>
                <span class="shallow-black-font font-20">200</span>
                <span class="del-line gray-font">￥345</span>
              </div>
              <!-- <div class="col text-right gray-font">
                 已售35200
               </div>-->
            </div>
            <div class="row">
              <div class="col ellipsis gray-font">赫拉气垫BB霜 SPF50</div>
            </div>
          </div>

        </div>
    </div>
  </ion-content>
</ion-view>
