<ion-popover-view>
  <ion-content>
    <ion-list>
      <ion-item>
        <div class="row">
            <div class="col-25 gray-font">上市时间</div>
            <div class="col">2016年</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-25 gray-font">保质期</div>
          <div class="col">3年</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-25 gray-font">适合肤质</div>
          <div class="col">干性皮肤</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-25 gray-font">品牌</div>
          <div class="col">不知道</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-25 gray-font">产地</div>
          <div class="col">干性皮肤</div>
        </div>
      </ion-item>
      <ion-item>
        <div class="row">
          <div class="col-25 gray-font">功效</div>
          <div class="col">干性皮肤</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <div class="bar bar-footer padding-lr0">
    <div class="row text-center col-center">
      <div class="col red-bg white-font font-18" style="line-height: 44px;" ng-click="close();">
        确定
      </div>
    </div>
  </div>
</ion-popover-view>
